<%= add_optional_error_prefix_to_page_title(@journey.errors) %>
<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

    <%= form_with url: @form_path, method: :get, local: true, html: { specialvalidation: true, novalidate: true } do |f| %>
      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
      <%= hidden_field_tag(:lot, '1') if @journey.errors.empty? %>

      <%= govuk_radios(f, @journey, :service_suitable, {
        fieldset: {
          legend: {
            text: t('.heading'),
            classes: 'govuk-fieldset__legend--m',
            page_heading?: true
          }
        },
        classes: 'govuk-radios--inline',
        items: @journey.current_step.class::SUITABILITY_OPTIONS.map do |option|
          {
            value: option,
            checked: checked?(params[:service_suitable], option),
            label: {
              text: t(option)
            }
          }
        end
      }) %>

      <p><%= t('.advice') %></p>
      <p><%= t('.multiple_transaction_advice') %></p>

      <%= submit_tag t('common.submit'), id: "submit", class: "govuk-button govuk-!-padding-left-7 govuk-!-padding-right-7", name: t('common.submit') %>
    <% end %>
  </div>
</div>
