<%= add_optional_error_prefix_to_page_title(@journey.errors) %>
<%= content_for :page_title, t('.question') %>

<div id="ccs-dynamic-accordian" class="govuk-grid-row">
  <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

  <%= form_with url: @form_path, method: :get, local: true, html: { specialvalidation: true, novalidate: true } do |f| %>
    <%= hidden_fields_for_previous_steps_and_responses(@journey) %>

    <div class="govuk-grid-column-two-thirds" id="selection-checkboxes">
      <%= govuk_checkboxes(f, @journey, :region_codes, {
        fieldset: {
          legend: {
            text: t('.question'),
            classes: 'govuk-fieldset__legend--m',
            page_heading?: true,
            caption: {
              text: lot_full_description(@journey.current_step.lot(@journey.params['lot'])),
              classes: 'govuk-caption-m'
            }
          }
        },
        hint: {
          text: link_to(t('.view_locations'), asset_path('NUTS1map.pdf'), target: '_blank')
        },
        classes: 'govuk-radios--inline',
        items: Nuts1Region.all.map do |region|
          {
            value: region.code,
            text: region_name(region.name),
            checked: @journey.current_step.region_codes.include?(region.code)
          }
        end + [
          {
            divider: t('.or')
          },
          {
            value: 'UK',
            text: t('.full_national_coverage'),
            checked: @journey.current_step.region_codes.include?('UK')
          }
        ]
      }) %>
    </div>

    <div class="govuk-grid-column-one-third">
      <%= render partial: 'shared/basket', locals: { data_text_1:  t('.regions_selected'), data_text_2: t('.no_regions_selected'), data_text_3: t('.region_selected') } %>
    </div>
  <% end %>
</div>
