<%= add_optional_error_prefix_to_page_title(@journey.errors) %>
<%= content_for :page_title, t('.heading').html_safe %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.lead') %>
    </p>

    <p class="govuk-body">
      <%= t('.text_html', general_advice_link: link_to(t('.general_advice'), t('common.general_legal_advice_services_url', framework: params[:framework]), class: 'govuk-link')) %>
    </p>
    <%= link_to t('.back_to_start'), legal_services_rm3788_path, class: 'govuk-button govuk-!-margin-top-4 govuk-!-padding-left-4 govuk-!-padding-right-4', name: t('.back_to_start') %>
  </div>
</div>
