<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= branch.name %> - <br/>
    <%= branch.region %>
  </th>
  <td class="govuk-table__cell">
    <%= branch.contact_name %>
  </td>
  <td class="govuk-table__cell">
    <%= mail_to(branch.contact_email,
                  branch.contact_email,
                  aria: {
                    label: "Email #{branch.contact_name} from #{branch.name}"
                  }) %>
  </td>
  <td class="govuk-table__cell">
    <%= format_telephone_number(branch.telephone_number) %>
  </td>
  <td class="govuk-table__cell">
    <ul class="govuk-list">
      <% branch.address_elements.each do |address_element| %>
        <li><%= address_element %></li>
      <% end %>
    </ul>
  </td>
</tr>
