<%= content_for :page_title, t('.header') %>
<%= content_for :page_section, t("supply_teachers.#{params[:framework].downcase}.page_section") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: "/supply-teachers/#{params[:framework]}/all-suppliers/search", method: :get, html: { specialvalidation: true, remote: true } do |f| %>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3 cmp-page-heading">
        <%= f.label :agency_name, t('.header'), class: 'govuk-label govuk-label--l' %>
      </h1>
    
      <div id="agency-search-container">
        <%= f.text_field :agency_name, class: 'govuk-input govuk-!-width-three-quarters govuk-!-margin-right-2', type: 'search', value: params[:agency_name], aria: { describedby: 'agency-search-hint' } %>
        <%= f.submit t('.search'), class: 'govuk-button govuk-button--secondary' %>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-8"><%= t('.results_found_with_location_html', results: @suppliers_count) %></p>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" id="agency-table">
    <%= render(partial: 'agencies_table', locals: { paginated_suppliers: @paginated_suppliers }) %>
  </div>
</div>
