<%= content_for :page_title, t('.header') %>
<%= content_for :page_section, t("supply_teachers.#{params[:framework].downcase}.page_section") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <%= t('.header') %>
    </h1>
    <p class="govuk-body-l">
      <%= t('.results_found_with_location_html', results: @supplier_frameworks.total_count) %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= form_with model: @supplier_filter, url: "/supply-teachers/#{params[:framework]}/all-suppliers/search", method: :post, html: { specialvalidation: true, remote: true } do |f| %>
      <div id="agency-search-container">
        <div class="ccs-summary-box" id="agency-name">
          <div class="ccs-summary-box__content">
            <%= govuk_input(
              :agency_name,
              model: @supplier_filter,
              label: {
                text: t('.enter_agency_name.question'),
                classes: 'govuk-label--m'
              },
              field_type: :search,
              form_group: {
                classes: 'govuk-!-margin-bottom-0'
              }
            ) %>
          </div>
        </div>

        <div class="ccs-summary-box" id="agency-postcode">
          <div class="ccs-summary-box__content">
            <%= govuk_input(
              :agency_postcode,
              model: @supplier_filter,
              label: {
                text: t('.enter_agency_postcode.question'),
                classes: 'govuk-label--m'
              },
              hint: {
                text: t('.enter_agency_postcode.hint'),
              },
              field_type: :search,
              form_group: {
                classes: 'govuk-!-margin-bottom-0'
              }
            ) %>
          </div>
        </div>

        <%= govuk_button(t('.search'), form: f, classes: 'govuk-button--secondary govuk-!-width-full') %>
      </div>      
    <% end %>
  </div>

  <div class="govuk-grid-column-two-thirds" id="agency-table">
    <%= render(partial: 'agencies_table', locals: { supplier_frameworks_total: @supplier_frameworks_total, supplier_frameworks: @supplier_frameworks }) %>
  </div>
</div>
