<%= content_for :page_title, @supplier_framework.supplier_name  %>
<%= content_for :page_section, t("supply_teachers.#{params[:framework].downcase}.page_section") %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl app-content__section-heading">
      <%= t('.header') %>
    </span>
    <h1 class="govuk-heading-xl">
      <%= @supplier_framework.supplier_name %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-7 govuk-!-margin-bottom-7">
    <%= render partial: "supply_teachers/#{params[:framework].downcase}/shared/rates_table", locals: { grouped_rates: @supplier_framework.grouped_rates_for_lot('RM6238.1') } %>
  </div>
</div>

<%= govuk_table(
  [
    {
      text: t('.branch_name'),
      attributes: {
        width: '15%'
      }
    },
    {
      text: t('.contact_name'),
      attributes: {
        width: '20%'
      }
    },
    {
      text: t('.contact_email'),
      attributes: {
        width: '25%'
      }
    },
    {
      text: t('.phone_number'),
      attributes: {
        width: '20%'
      }
    },
    {
      text: t('.address'),
      attributes: {
        width: '20%'
      }
    }
  ],
  @branches.map do |branch|
    [
      {
        text: capture do
          concat("#{branch.name} - ")
          concat(tag.br)
          concat(branch.region)
        end
      },
      {
        text: branch.contact_name
      },
      {
        text: mail_to(branch.contact_email, branch.contact_email, aria: { label: "Email #{branch.contact_name} from #{branch.name}" })
      },
      {
        text: format_telephone_number(branch.telephone_number)
      },
      {
        text: tag.ul(class: 'govuk-list') do
                branch.address_elements.each do |address_element|
                  concat(tag.li(address_element))
                end
              end
      }
    ]
  end,
  first_cell_is_header: true,
  attributes: {
    id: 'agency-branches'
  }
) %>
