<div class="agency-record">
  <h2 class="govuk-heading-m"><%= master_vendor.name %></h2>

  <% if master_vendor.master_vendor_contact_name.present? %>
    <p class="govuk-body">
      <span class="managed-service-provider-contact-details__name">
        <strong><%= master_vendor.master_vendor_contact_name %></strong>
      </span><br />
      <span class="managed-service-provider-contact-details__telephone">
        <%= format_telephone_number(master_vendor.master_vendor_telephone_number) %>
      </span><br />
      <span class="managed-service-provider-contact-details__email">
        <%= mail_to(master_vendor.master_vendor_contact_email,
                   master_vendor.master_vendor_contact_email,
                   'aria-label': "Email #{master_vendor.master_vendor_contact_name} from #{master_vendor.name}") %>
      </span>
    </p>
  <% end %>

  <%= render partial: 'supply_teachers/rm3826/shared/rates_table', locals: { grouped_rates: master_vendor.master_vendor_rates_grouped_by_job_type } %>
</div>
