<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.heading') %></h1>
    <p class="govuk-heading-m govuk-!-margin-bottom-8"><%= t('.lead_text') %></p>
    <p class="govuk-body">
      <%= link_to_generated_file_for_download(management_consultancy_rm6309_suppliers_download_path(lot_id: params[:lot_id], service_ids: params[:service_ids]), :xlsx, t('.download_supplier_shortlist'), true) %>
    </p>

    <%= link_to t('common.back_to_start'), management_consultancy_journey_start_path, class: 'govuk-!-margin-top-6 govuk-link govuk-!-font-size-19 govuk-link--no-visited-state' %>
  </div>
</div>
