<div class="agency-record">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m"><%= managed_service_provider.supplier_name %></h2>

      <% managed_service_provider_contact = managed_service_provider.contact_detail.managed_service_provider %>

      <% if managed_service_provider_contact.present? %>
        <p class="govuk-body">
          <span class="managed-service-provider-contact-details__name">
            <strong><%= managed_service_provider_contact[:name] %></strong>
          </span>
          <br />
          <span class="managed-service-provider-contact-details__telephone">
            <%= format_telephone_number(managed_service_provider_contact[:telephone]) %>
          </span>
          <br />
          <span class="managed-service-provider-contact-details__email">
            <%= mail_to(
              managed_service_provider_contact[:email],
              managed_service_provider_contact[:email],
              aria: {
                label: "Email #{managed_service_provider_contact[:name]} from #{managed_service_provider.supplier_name}"
              }
            ) %>
          </span>
        </p>
      <% end %>

      <%= render partial: 'supply_teachers/rm6376/shared/rates_table', locals: { grouped_rates: managed_service_provider.grouped_rates_for_lot(@lot_id) } %>
    </div>
  </div>
</div>