<%= govuk_fieldset_with_optional_error(@journey, :lot) do %>
  <%= display_error(@journey, :lot) %>
  <legend class=" govuk-fieldset__legend govuk-fieldset__legend--m"><%= legend_heading %></legend>
  <% lots.each do |lot| %>
    <div class="govuk-radios__item">
      <%= radio_button_tag :lot, lot.number, checked?(params[:lot], lot.number), class: 'govuk-radios__input' %>
      <%= label_tag :"lot_#{lot.number}", "#{lot_number_and_description(lot.number,lot.description)}", class: 'govuk-label govuk-radios__label' %>
      <%= govuk_details(t('.service_lines')) do %>
        <ul class="govuk-list">
          <% lot.services.each do |service| %>
            <li><%= service.name %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
