<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= content_for :page_title, t('.question') %>


<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
<%= form_tag @form_path, method: :get do |f|%>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <h1 class="govuk-heading-xl">
      <%= t('.question') %>
  </h1>

  <%= govuk_radios(
    :lot,
    ManagementConsultancy::RM6187::Journey::ChooseLot.mcf3_lots.map do |lot|
      {
        value: lot.number,
        label: {
          text: lot_number_and_description(lot.number,lot.description),
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          text: govuk_details(t('.service_lines')) do
            tag.ul(class: 'govuk-list') do
              lot.services.each do |service|
                concat(tag.li(service.name))
              end
            end
          end
        }
      }
    end,
    model: @journey.current_step,
    fieldset: {
      legend: {
        text: t('.mcf3_heading'),
        classes: 'govuk-fieldset__legend--m'
      }
    }
  ) %>

  <%= govuk_button(t('common.submit'), form: f, attributes: { name: t('common.submit') }) %>
<% end %>
