<%= content_for :page_title, t('.heading') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t('.heading') %>
    </h1>

    <section>
      <h2 class="govuk-heading-m">
        <%= t('.sections.section_1.heading') %>
      </h2>
      <p>
        <%= t('.sections.section_1.paragraphs.paragraph_1') %>
      </p>
      <p>
        <%= t('.sections.section_1.paragraphs.paragraph_2') %>
      </p>
      <p>
        <%= t('.sections.section_1.paragraphs.paragraph_3') %>
      </p>
    </section>
    <section>
      <h2 class="govuk-heading-m">
        <%= t('.sections.section_2.heading') %>
      </h2>
      <p class="govuk-body"><%= t('.sections.section_2.list.title')%></p>
      <ul class="govuk-list govuk-list--bullet">
        <li><%= t('.sections.section_2.list.item_1') %></li>
        <li><%= t('.sections.section_2.list.item_2') %></li>
        <li><%= t('.sections.section_2.list.item_3') %></li>
        <li><%= t('.sections.section_2.list.item_4') %></li>
        <li><%= t('.sections.section_2.list.item_5') %></li>
        <li><%= t('.sections.section_2.list.item_6') %></li>
      </ul>
      <p>
        <%= t('.sections.section_2.paragraphs.paragraph_1') %>
      </p>
    </section>
    <section>
      <h2 class="govuk-heading-m">
        <%= t('.sections.section_3.heading') %>
      </h2>
      <p>
        <%= t('.sections.section_3.paragraphs.paragraph_1_html', register_on_ppg_link: link_to(t('.sections.section_3.register_on_ppg_text'), t('.sections.section_3.register_on_ppg_url'), class: 'govuk-link govuk-link--no-visited-state')) %>
      </p>
      <p>
        <%= t('.sections.section_3.paragraphs.paragraph_2_html', guides_link: link_to(t('.sections.section_3.guides_text'), t('.sections.section_3.guides_url'), class: 'govuk-link govuk-link--no-visited-state')) %>
      </p>
      <p>
        <%= t('.sections.section_3.paragraphs.paragraph_3') %>
      </p>
      <p>
        <%= t('.sections.section_3.paragraphs.paragraph_4') %>
      </p>
      <p>
        <%= t('.sections.section_3.paragraphs.paragraph_5_html', guidance_document_link: link_to(t('.sections.section_3.guidance_document_text'), t('.sections.section_3.guidance_document_url'), class: 'govuk-link govuk-link--no-visited-state')) %>
      </p>
    </section>
    <section>
      <h2 class="govuk-heading-m">
        <%= t('.sections.section_4.heading') %>
      </h2>
      <p>
        <%= t('.sections.section_4.paragraphs.paragraph_1_html', email_link: mail_to(t('.sections.section_4.email_link'), t('.sections.section_4.email_link'), class: 'govuk-link govuk-link--no-visited-state')) %>
      </p>
    </section>

    <hr class="govuk-section-break govuk-section-break--m">

    <%= form_with url: @form_path, method: :get, local: true, html: { specialvalidation: true, novalidate: true } do %>
      <%= submit_tag t('common.submit'), class: "govuk-button", aria: { label: t('common.submit') } %>
    <% end %>
  </div>
</div>
    