<%= content_for :page_title, t('.heading')  %>

<div class="govuk-grid-row">
  <div class=" govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= t('.heading') %>
    </h1>

    <p class="govuk-body-l">
      <%= t('.download_statement') %>
    </p>

    <p class="govuk-body">
      <%= link_to_generated_file_for_download(download_legal_panel_for_government_suppliers_path, :xlsx, t('.download_supplier_shortlist_link'), true) %>
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <p class="govuk-body">
      <%= link_to(t('.back_to_start'), legal_panel_for_government_index_path, class: 'govuk-link govuk-link--no-visited-state') %>
    </p>
  </div>
</div>
