<div class="agency-record">
  <h2 class="govuk-heading-m"><%= education_technology_platform_vendor.name %></h2>

  <% education_technology_platform_vendor_contact = managed_service_provider_contact(education_technology_platform_vendor, '4')%>

  <% if education_technology_platform_vendor_contact.present? %>
    <p class="govuk-body">
      <span class="managed-service-provider-contact-details__name">
        <strong><%= education_technology_platform_vendor_contact.contact_name %></strong>
      </span>
      <br />
      <span class="managed-service-provider-contact-details__telephone">
        <%= format_telephone_number(education_technology_platform_vendor_contact.telephone_number) %>
      </span>
      <br />
      <span class="managed-service-provider-contact-details__email">
        <%= mail_to(education_technology_platform_vendor_contact.contact_email,
                   education_technology_platform_vendor_contact.contact_email,
                   aria: {
                     label: "Email #{education_technology_platform_vendor_contact.contact_name} from #{education_technology_platform_vendor.name}"
                   }) %>
      </span>
    </p>
  <% end %>

  <%= govuk_table(
    [
      {
        text: t('.column1')
      },
      {
        text: t('.column2'),
        classes: 'govuk-table__header--numeric agency-record__markup-column'
      }
    ],
    education_technology_platform_vendor.education_technology_platforms_rates_grouped_by_job_type.map do |job_type, rates|
      rates.map do |rate|
        [
          {
            text: rates.length == 1 ? SupplyTeachers::RM6238::JobType[job_type] : t(".agency_management.#{rate.term}")
          },
          agency_rate_cell(rate)
        ]
      end
    end.flatten(1),
    first_cell_is_header: true
  ) %>
</div>
