<div class="agency-record">
  <h2 class="govuk-heading-m"><%= education_technology_platform_vendor.supplier_name %></h2>

  <% education_technology_platform_vendor_contact = education_technology_platform_vendor.contact_detail.additional_details['education_technology_platform'] %>

  <% if education_technology_platform_vendor_contact.present? %>
    <p class="govuk-body">
      <span class="managed-service-provider-contact-details__name">
        <strong><%= education_technology_platform_vendor_contact['name'] %></strong>
      </span>
      <br />
      <span class="managed-service-provider-contact-details__telephone">
        <%= format_telephone_number(education_technology_platform_vendor_contact['telephone_number']) %>
      </span>
      <br />
      <span class="managed-service-provider-contact-details__email">
        <%= mail_to(education_technology_platform_vendor_contact['email'],
                   education_technology_platform_vendor_contact['email'],
                   aria: {
                     label: "Email #{education_technology_platform_vendor_contact['name']} from #{education_technology_platform_vendor.supplier_name}"
                   }) %>
      </span>
    </p>
  <% end %>

  <%= govuk_table(
    *rates_table_headers_and_rows_lot_4(education_technology_platform_vendor.grouped_rates_for_lot(@lot_id)),
    first_cell_is_header: true
  ) %>
</div>
