<div class="agency-record">
  <h2 class="govuk-heading-m"><%= master_vendor.supplier_name %></h2>

  <% master_vendor_contact = master_vendor.contact_detail.additional_details['master_vendor'] %>

  <% if master_vendor_contact.present? %>
    <p class="govuk-body">
      <span class="managed-service-provider-contact-details__name">
        <strong><%= master_vendor_contact['name'] %></strong>
      </span>
      <br />
      <span class="managed-service-provider-contact-details__telephone">
        <%= format_telephone_number(master_vendor_contact['telephone_number']) %>
      </span>
      <br />
      <span class="managed-service-provider-contact-details__email">
        <%= mail_to(master_vendor_contact['email'],
                   master_vendor_contact['email'],
                   aria: {
                     label: "Email #{master_vendor_contact['name']} from #{master_vendor.supplier_name}"
                   }) %>
      </span>
    </p>
  <% end %>

  <%= render partial: 'supply_teachers/rm6238/shared/rates_table', locals: { grouped_rates: master_vendor.grouped_rates_for_lot(@lot_id) } %>
</div>
