<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-top-7 govuk-!-margin-bottom-7">
    <table class="govuk-table">
      <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col"><strong><%= t('.column1') %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric agency-record__markup-column" scope="col"><strong><%= t('.column2') %><br><%= SupplyTeachers::RM3826::RateTerm['one_week'] %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric agency-record__markup-column" scope="col"><strong><%= t('.column2') %><br><%= SupplyTeachers::RM3826::RateTerm['twelve_weeks'] %></strong></th>
        <th class="govuk-table__header govuk-table__header--numeric agency-record__markup-column" scope="col"><strong><%= t('.column2') %><br><%= SupplyTeachers::RM3826::RateTerm['more_than_twelve_weeks'] %></strong></th>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <% @branch.supplier.rates_grouped_by_job_type.each do |job_type, rates| %>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row"><%= SupplyTeachers::RM3826::JobType[job_type] %></th>
          <% if rates.length == 1 %>
            <% 3.times do %>
              <td class="govuk-table__cell govuk-table__cell--numeric agency-record__markup-column"><%= number_to_percentage(rates.first.mark_up * 100, precision: 1) %></td>
            <% end %>
          <% else %>
            <% rates[0..2].each do |rate| %>
              <td class="govuk-table__cell govuk-table__cell--numeric"><%= number_to_percentage(rate.mark_up * 100, precision: 1) %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
