<div id="css-list-basket">
  <%= govuk_button(t('common.submit'), form: form, attributes: { name: t('common.submit') }) %>
  <div>
    <h2 class="govuk-heading-m" data-txt01="<%= data_text_1 %>" data-txt02="<%= data_text_2 %>" data-txt03="<%= data_text_3 %>">
      <span id="selected-items-count"></span>
      <span></span>
    </h2>
    <a role="button" href="#" class="govuk-link--no-visited-state ccs-no-print" name="remove all" id="removeAll" style="display: none;">
      <%= t('.remove_all') %>
    </a>
    <ul class="govuk-list"></ul>
  </div>
</div>
