<%= add_optional_error_prefix_to_page_title(@journey.errors) %>
<%= content_for :page_title, t('.page_title') %>
<%= content_for :page_section, t("supply_teachers.#{params[:framework].downcase}.page_section") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>
    <%= form_with url: @form_path, method: :get, html: { specialvalidation: true, novalidate: true } do |f| %>
      <%= hidden_fields_for_previous_steps_and_responses(@journey) %>

      <%= govuk_date_input(
        :contract_start_date,
        model: @journey.current_step,
        fieldset: {
          legend: {
            text: t('.contract_start_question'),
            classes: 'govuk-fieldset__legend--m',
            is_page_heading: true
          },
        },
        hint: {
          text: t('.contract_start_question_hint')
        }
      ) %>

      <%= govuk_button(t('common.submit'), form: f) %>
    <% end %>
  </div>
</div>
