<div class="govuk-!-padding-3 supplier-record__calculator <%= 'supplier-record__calculator--muted' unless branch.worker_cost %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h4 class="govuk-heading-s">
        <%= t('.calculator.heading') %>
      </h4>
    </div>
  </div>
  <span class="govuk-error-message govuk-visually-hidden">
    <span class="govuk-visually-hidden"><%= t('.calculator.error') %></span><%= t('.calculator.error_message') %>
  </span>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= govuk_input(
        :daily_rate,
        form_group: {
          classes: 'govuk-!-margin-0 calculator-form__day-rate'
        },
        label: {
          text: t('.calculator.daily_rate'),
          classes: 'govuk-!-font-size-16',
        },
        classes: 'govuk-input--width-10 calculator-form__day-rate-input',
        value: branch.daily_rate,
        prefix: {
          text: '£'
        },
        attributes: {
          id: "daily_rate_#{branch.id}",
          name: "daily_rate[#{branch.id}]"
        }
      ) %>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
        <%= t('.calculator.worker_cost') %>
      </p>
      <p class="govuk-body supplier-record__worker-cost">
        <% if branch.worker_cost %>
          <%= number_to_currency(branch.worker_cost) %>
        <% end %>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
        <%= t('.calculator.agency_fee') %>
      </p>
      <p class="govuk-body supplier-record__agency-fee">
        <% if branch.agency_fee %>
          <%= number_to_currency(branch.agency_fee) %>
        <% end %>
      </p>
    </div>
  </div>
</div>
