<div class="govuk-!-padding-3 supplier-record__calculator <%= 'supplier-record__calculator--muted' unless branch.finders_fee %>">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h4 class="govuk-heading-s">
        <%= t('.heading') %>
      </h4>
    </div>
  </div>

  <%= govuk_error_message(
    t('.error_message'),
    :annual_salary,
    visually_hidden_text: t('.error'),
    classes: 'govuk-visually-hidden',
    attributes: {
      id: "annual_salary_#{branch.id}-error"
    }
  ) %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= govuk_input(
        :annual_salary,
        form_group: {
          classes: 'govuk-!-margin-0 calculator-form__annual-salary'
        },
        label: {
          text: t('.annual_salary'),
          classes: 'govuk-!-font-size-16',
        },
        classes: 'govuk-input--width-10 calculator-form__annual-salary-input',
        value: @salary.is_a?(String) ? @salary : @salary[branch.id],
        prefix: {
          text: '£'
        },
        attributes: {
          id: "annual_salary_#{branch.id}",
          name: "annual_salary[#{branch.id}]"
        }
      ) %>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body supplier-record__fixed-term-length govuk-!-font-size-24 govuk-!-margin-bottom-0 govuk-!-margin-top-3">
        <strong>
          <% if @fixed_term_length %>
            <span class='supplier-record__fixed-term-length-number govuk-!-font-size-36'><%= @fixed_term_length %></span> months
          <% else %>
            &nbsp;
          <% end %>
        </strong>
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
        <%= t('.fixed_term_length') %>
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body govuk-!-font-size-36 govuk-!-margin-bottom-0 govuk-!-margin-top-3">
        <strong class="supplier-record__finders-fee">
          <% if branch.finders_fee %>
            <%= number_to_currency(branch.finders_fee) %>
          <% else %>
            &nbsp;
          <% end %>
        </strong>
      </p>
      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-0">
        <%= t('.finders_fee') %>
        <strong class='supplier-record__finders-fee-percentage'>
          <%= finders_fee(branch.rate) %>
        </strong>
      </p>
    </div>
  </div>
</div>
