<%= add_optional_error_prefix_to_page_title(@journey.errors) %>

<%= content_for :page_title, t('.question') %>

<%= render partial: 'shared/error_summary', locals: { errors: @journey.errors } %>

<%= form_tag @form_path, method: :get do |f|%>
  <%= hidden_fields_for_previous_steps_and_responses(@journey) %>
  <h1 class="govuk-heading-xl">
      <%= t('.question') %>
  </h1>

  <%= govuk_radios(
    :lot_id,
    @journey.current_step.class.lots.map do |lot|
      {
        value: lot.id,
        label: {
          text: lot_full_name(lot),
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          text: govuk_details(t('.service_lines')) do
            capture do
              lot.services_grouped_by_category.each do |group, services|
                concat(tag.p(group, class: "govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2")) if group
                concat(tag.ul(class: 'govuk-list') do
                  services.each do |service|
                    concat(tag.li(service.name))
                  end
                end)
              end
            end
          end
        }
      }
    end,
    model: @journey.current_step,
    fieldset: {
      legend: {
        text: page_heading,
        classes: 'govuk-fieldset__legend--m'
      }
    }
  ) %>

  <%= govuk_button(t('common.submit'), form: f, attributes: { name: t('common.submit') }) %>
<% end %>
