<div id="selection-checkboxes">
  <%= govuk_accordion("#{@journey.params['lot']}-services") do %>
    <% services.each_with_index do |service, index| %>
      <%= govuk_accordion_add_section(index, service.name) do %>
        <div class="govuk-form-group" data-service="<%= service.name if service.subservices.size.positive? %>" >
          <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes">
              <% unless service.subservices.size.positive? %>
                <div class="govuk-checkboxes__item" >
                  <%= check_box_tag(
                    "services[]",
                    service.code,
                    @journey.current_step.services.include?(service.code),
                    class: "govuk-checkboxes__input",
                    id: "service_#{service.code.gsub('.', '-')}",
                  ) %>
                  <label class="govuk-label govuk-checkboxes__label" for="service_<%= service.code.gsub('.', '-') %>">
                    <%= service.name %>
                  </label>
                </div>
              <% end %>
              <% service.subservices.each do |subservice| %>
                <div class="govuk-checkboxes__item">
                  <%= check_box_tag(
                    "services[]",
                    subservice.code,
                    @journey.current_step.services.include?(subservice.code),
                    class: "govuk-checkboxes__input",
                    id: "service_#{service.code.gsub('.', '-')}-#{subservice.code.gsub('.', '-')}",
                  ) %>
                  <label class="govuk-label govuk-checkboxes__label" for="service_<%= service.code %>-<%= subservice.code.gsub('.', '-') %>">
                    <%= subservice.name %>
                  </label>
                </div>
              <% end %>
              <% if service.subservices.count > 1 %>
                <p class="govuk-body govuk-!-margin-top-4">Or</p>
                <div class="govuk-checkboxes__item ccs-select-all">
                  <input class="govuk-checkboxes__input" id="service_<%= service.code %>-all" name="service_<%= service.code %>-all" type="checkbox" value=""><!-- no value -->
                  <label class="govuk-label govuk-checkboxes__label" for="service_<%= service.code %>-all">
                    Select all
                  </label>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>