<%= content_for :page_title, t('.heading', number: @upload.short_uuid) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l govuk-!-margin-bottom-0"><%= t('.caption', framework: params[:framework]) %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4"><%= t('.heading', number: @upload.short_uuid) %></h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.status') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= govuk_tag_with_text(*upload_status_tag(@upload.aasm_state)) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.datetime') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= format_date_time @upload.created_at %>
        </dd>
      </div>
    </dl>
  </div>
</div>

<%= render(partial: 'shared/admin/in_progress') unless @upload.failed? || @upload.published? %>
<%= render(partial: 'failed') if @upload.failed? %>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <caption class="govuk-table__caption"><%= t('.files') %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col"><%= t('.name') %></th>
          <th class="govuk-table__header" scope="col"><%= t('.download') %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% service::Admin::Upload::ATTRIBUTES.each do |file| %>
          <% next unless @upload.send(file).attached? %>
          <tr>
            <td class="govuk-table__cell"><%= t(".file_name.#{file}") %></td>
            <td class="govuk-table__cell"><%= link_to t('.download'), "#{rails_blob_path(@upload.send(file), disposition: 'attachment', key: :"ls_#{params[:framework].downcase}_upload_id", valud: @upload.id)}&format=xlsx", download: '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('.return'),  index_path, class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
  </div>
</div>
