<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t('.rates') %></h2>
<p class="govuk-body">
  <%= t('.fixed_until') %>
</p>
<p class="govuk-body"><%= t('.further_competition') %></p>
<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden"><%= t('.rates') %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-half" scope="col"><%= t('.position') %></th>
      <th class="govuk-table__header govuk-!-font-weight-bold govuk-!-width-one-sixth" scope="col"><%= t('.hourly') %></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% LegalServices::RM6240::Position.all.sort_by(&:code).each do |position| %>
      <tr class="govuk-table__row">
        <th class="govuk-table__header govuk-!-width-one-half" scope="row"><%= position.name %></th>
        <td class="govuk-table__cell govuk-!-width-one-sixth"><%= display_rate position.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
